/* Így tudom beimportálni a Google Fonts-ról az Ubuntu betűtípust */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* Ezek a szabályok minden elemere vonatkoznak */
* {
  /* Ez a szabály azt mondja, hogy a border (keret) számítson bele az elem szélességébe */
  box-sizing: border-box;
}

/* Ezek a szabályok a HTML dokumentumra és a body-ra egyaránt vonatkoznak */
html, body {
  display: block;
  height:  100%;
  margin:  0px;
  padding: 0px;
  border: 0px;
  background-color: black;
  /* Ami lelóg az oldalról az maradjon rejtve, nem kell scroll */
  overflow: hidden;
}

/* Az alap keret */
.basicBorder {
  border: solid rgb(188, 228, 176);
  border-radius: 0.5rem;
}

/* A fő csomagolónk, ebben lesz benne minden más elem */
#MainWrapper {
  display: flex;
  /* Függőleges elrendezés */
  flex-direction: column;
  height: 100%;
  background-color: rgb(3, 24, 19);
}

/* A navigációs panel */
#NavBar {
  display: flex;
  /* Vízszintes elrendezés */
  flex-direction: row;
  /* Ha marad hely az elemek közt akkor az úgy oszoljon el egyenlően,
  hogy a jobb és a bal elem teljesen a NavBar szélén maradjon */
  justify-content: space-between;
}

/* Az oldal csomagoló, ebben fognak megjelenni az oldalak */
#PageWrapper {
  display: flex;
  flex:1;
  flex-direction: column;
}

/* Minden navigálható oldalhoz lesz egy gomb a NavBar-ban ezek lesznek a navItemek */
.navItem {
  display: flex;
  /* Minden navItem legyen ugyan akkora */
  flex: 1;
  /* A navItemen belül legyen függőlegesen és vízszintesen is középen a tartalom (a gomb felirata) */
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin: 0.1rem;
  color: rgb(188, 228, 176);
  /* Itt használom a (css file tetején) beimportált Ubuntu betűtípust,
  ha ez nem sikerül, sans-serif-re fallbackelünk. */
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(3, 53, 7);
  overflow: hidden;
}

/* Ha az egyik navigálható oldal éppen aktív, akkor a hozzá tartozó navItem is aktív lesz */
.activeNavItem {
  background-color: rgb(11, 124, 36);
  color: rgb(131, 252, 163);
}

/* Ha egy nevItem fölé visszük az egeret */
.navItem:hover {
  border: dashed rgb(43, 255, 0);
  color: rgb(94, 255, 0);
}

/* Minden oldal meg fogja kapni ezeket a szabályokat */
.page {
  /* Alapból az oldal nem látható */
  display: none;
  height: 93%;
  margin: 1%;
  padding: 1rem;
  background-color: rgb(14, 103, 48);
}

/* Az aktív oldalak láthatók */
.activePage {
  display: flex;
  flex: 1;
}

/* Ha ez a class rajta van egy elemen akkor annak a tartalmát nem lehet kilyelölni (copy paste) az egérrel */
.noSelect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Ha az ablak szélesebb mint 750 pixel, legyen a betűméret az oldalon 1.5szörös
így a betűkön kívül azok a dolgok, amiket a rem-hez mértem, szintén arányosan fognak változni */
@media only screen and (min-width: 751px) {
  html {
      font-size: 1.5rem;
  }
}